@font-face {
    font-family: 'a_FuturaRound';
    src: url('AFuturaRoundBold.eot');
    src: local('a_FuturaRound Bold'), local('AFuturaRoundBold'),
        url('AFuturaRoundBold.eot?#iefix') format('embedded-opentype'),
        url('AFuturaRoundBold.woff2') format('woff2'),
        url('AFuturaRoundBold.woff') format('woff'),
        url('AFuturaRoundBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_FuturaRound';
    src: url('AFuturaRoundBoldItalic.eot');
    src: local('a_FuturaRound BoldItalic'), local('AFuturaRoundBoldItalic'),
        url('AFuturaRoundBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AFuturaRoundBoldItalic.woff2') format('woff2'),
        url('AFuturaRoundBoldItalic.woff') format('woff'),
        url('AFuturaRoundBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'a_FuturaRound';
    src: url('AFuturaRoundItalic.eot');
    src: local('a_FuturaRound Italic'), local('AFuturaRoundItalic'),
        url('AFuturaRoundItalic.eot?#iefix') format('embedded-opentype'),
        url('AFuturaRoundItalic.woff2') format('woff2'),
        url('AFuturaRoundItalic.woff') format('woff'),
        url('AFuturaRoundItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'a_FuturaRound';
    src: url('AFuturaRound.eot');
    src: local('a_FuturaRound'), local('AFuturaRound'),
        url('AFuturaRound.eot?#iefix') format('embedded-opentype'),
        url('AFuturaRound.woff2') format('woff2'),
        url('AFuturaRound.woff') format('woff'),
        url('AFuturaRound.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

